@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --description-text: #374754;
    --title-text: #252B42;
    --form-color: #F4F4F4;
    ;
}

body {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    color: var(--description-text);

}

h1,
h2,
h3 {
    color: var(--title-text);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
}