.enticement {
    padding: 23px 15.5px;
}

.enticement__container {
    padding:50px 0;
}

.enticement__text-content {
    padding-bottom:46px;
}

.enticement__title {
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    line-height: 42.5px;
    letter-spacing: 0.2;
    padding:10px;
}

.enticement__description {
    padding:10px;
    font-size: 21.5px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.2px;
    text-align: center;
}
.enticement__hidden-span {
    display: none;
}
.enticement__cta {
    text-align:center;
    padding-bottom:46px;
}
.enticement__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2091F9;
    color:white;
    border-radius: 27px;
    width: 182px;
    height: 46px;
    font-weight:700;
    line-height: 21.5px;
    letter-spacing: 0.1px;
    font-size:15.5px;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
}
