.features {
    padding: 61.5px 0;
    gap: 50px;
}
.features__content {
    padding:0 38.5px;
}
.features__title {
    padding:10px;
}

.features__title-text {
    font-size: 37px;
    font-weight:400;
    line-height:42.5px;
    letter-spacing: 0.2px;
    text-align:center;
}
.features__description {
    padding:10px 10px;
}
.features__description-text {
    font-size:21.5px;
    font-weight:400;
    line-height: 31px;
    letter-spacing: 0.2px;
    text-align:center;
}
.features__hidden-span {
    display:none;
}
.features__video {
    padding:20px 0;
}
.features__item {
    padding: 10px 61.5px;
}

.features__item-content-center {
    padding:61.5px 0;
}
.features__image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:61px;
    height:61px;
}
.features__item-title {
    padding:15px 10px;
    font-size:15.5px;
    font-weight:700;
    line-height:21.5px;
    letter-spacing: 0.1px;
    text-align:center;
}
.features__item-description {
    font-size:14px;
    font-weight:400;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align:center;
}